<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/workspace.css">
</head>
<body>
    <div class="navigation">
        <div class="header">
            <div class="header__title">GOIOT</div>
            <div class="header__subtitle">Workspace</div>
        </div>
        <div class="menu">
            <div class="menu__item">New</div>
            <div class="menu__item">Save</div>
            <div class="menu__item">Open</div>
            <div class="menu__item" id="object">Object</div>
            <div class="menu__item" id="template">Template</div>
        </div>
    </div>
    <div class="content">
        <div class="pages">
            <div class="pages__title">Pages</div>
            <div class="asd"></div>
        </div>
        <div class="workspace">
            <div class="workspace-title">
                <div class="workspace-title__primary">Workspace</div>
                <div class="workspace-title__secondary">Draw Your Project Here</div>
            </div>
            <div class="workspace-pages">
                <div class="workspace-pages__tab">
                    <div>Pages 1</div>
                    <div>Pages 2</div>
                </div>
                <div class="workspace-pages__add">+</div>
            </div>
        </div>
    </div>


    <script src="/workspace.js"></script>
</body>
</html>
