<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>test 1 2 3</title>
</head>

<body>
    <style>
        body {
            margin: 0;
        }

        * {
            font-family: sans-serif;
        }

        .tour {
            position: relative;
            width: 100vw;
            height: 56.25vw;
            background-color: tan;
            /* iamge here */
            background-image: url('image.jpg');
            background-size: contain;
        }

        .tour__icon {
            width: 26.25vw;
            height: 26.25vw;
            position: absolute;
            top: 15vw;
            left: 6vw;
            background-color: white;
            background-image: url('icon.png');
            background-size: contain;
            border-radius: 50%;
        }

        .tour__provinceName {
            position: absolute;
            top: 10vw;
            left: 38vw;
            padding: .5vw 2vw;
            background: black;
            color: white;
            font-size: 6vw;
        }

        .tourContainer {
            display: grid;
            grid-template-columns: 30vw 30vw 30vw;
            padding: 2.5vw;
            grid-gap: 2.5vw 2.5vw;
        }

        .tourList {
            height: 30vw;
            background-color: lightgray;
            background-image: url('square-image.jpg');
            background-size: contain;
            background-repeat: no-repeat;
            position: relative;
        }

        .tourList__title {
            position: absolute;
            top: 0;
            right: 0;
            border-bottom-left-radius: 5px;
            background-color: black;
            color: white;
            padding: 5px 5px 5px 15px;
        }
    </style>
    <div class="tour">
        <div class="tour__icon"></div>
        <div class="tour__provinceName">Bali</div>
    </div>
    <div class="tourContainer">
        <div class="tourList">
            <div class="tourList__title">kuta</div>
        </div>
        <div class="tourList">
            <div class="tourList__title">kuta</div>
        </div>
        <div class="tourList">
            <div class="tourList__title">kuta</div>
        </div>
        <div class="tourList">
            <div class="tourList__title">kuta</div>
        </div>
        <div class="tourList">
            <div class="tourList__title">kuta</div>
        </div>
        <div class="tourList">
            <div class="tourList__title">kuta</div>
        </div>
    </div>

    <script>
        list = [
            'Denpasar',
            'Kuta',
            'Ubud',
            'Tabanan',
            'Sukawati',
            'Gianyar',
            'Bangli',
            'Semapura',
            'Singaraja',
            'Plaga',
            'Krambitan',
            'Selemadeg',
        ]
    </script>
</body>

</html>