<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Workspace 2</title>
    <link href="https://fonts.googleapis.com/css?family=Rammetto+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/workspace2.css">
</head>

<body>
    <div class="header">
        <div class="title">GOIOT</div>
        <div class="menu">
            <div class="menu__item">Pages</div>
            <div class="menu__item">Insert</div>
            <div class="menu__item">Template</div>
        </div>
    </div>
    <div class="sub-header"></div>
    <div class="workspace">
        <div class="workspace-title">
            <div class="workspace-title__primary">Workspace</div>
            <div class="workspace-title__secondary">Draw Your Project Here</div>
        </div>
        <div class="toggle">
            <i class="material-icons">description</i>
            <div class="toggle-menu">
                <div class="toggle-menu__list">New</div>
                <div class="toggle-menu__list">Save</div>
                <div class="toggle-menu__list">Load</div>
            </div>
        </div>
    </div>

    <div class="footer"></div>

    <script>
        let toggleOpen = true
        const toggle = document.querySelector('.toggle')
        const toggleMenu = document.querySelector('.toggle-menu')
        toggle.addEventListener('click', () => {
            if (toggleOpen) {
                toggleMenu.style.display = 'none'
            } else {
                toggleMenu.style.display = 'block'
            }
            toggleOpen = !toggleOpen
        })
        
    </script>
    <script src="/workspace2.js"></script>
</body>

</html>