body {
  margin: 0;
}
* {
  font-family: sans-serif;
}
.header {
  background-color: #40C4FF;
  display: flex;
  justify-content: space-between;
  line-height: 100px;
  padding: 0 30px;
  user-select: none;
}

.header .title {
  font-family: 'Rammetto One', cursive;
  color: white;
  font-size: 35px;
  letter-spacing: 3px;
}

.sub-header {
      position: relative;
      height: 80px;
      background: white;
}

.menu {
  display: flex;
}

.menu__item {
  font-family: sans-serif;
  color: #E1F5FE;
  font-weight: bold;
  line-height: 55px;
  font-size: 22px;
  padding: 0 25px;
  letter-spacing: 4px;
  cursor: pointer;
  height: 55px;
  margin-top: 25px;
  margin-left: 5px;
}
.menu__item:hover {
  background-color: white;
  color: #40C4FF;
  border-radius: 20px;
}

.workspace {
  position: relative;
  height: calc(100vh - 100px);
  background-color: #F5F5F5;
}

.workspace-title {
  text-align: center;
  position: relative;
  top: 35vh;
}

.workspace-title__primary {
  font-weight: 500;
  font-size: 24px;
  color: #bdbdbd;
}

.workspace-title__secondary {
  color: #bdbdbd;
  font-weight: 500;
}

.toggle {
  position: absolute;
  bottom: 1vw;
  right: 1vw;
  width: 45px;
  height: 45px;
  padding: 10px;
  border-radius: 50%;
  background-color: #40C4FF;
  cursor: pointer;
  user-select: none;
}

.toggle .material-icons {
  font-size: 45px;
  width: 45px;
  line-height: 45px;
  color: white;
  text-align: center;
}

.toggle-menu {
  position: absolute;
  top: -163px;
  width: 75px;
  padding: 20px;
  background-color: white;
  border: 1px solid #40C4FF;
  left: -82px;
  border-radius: 25px;
}

.toggle-menu__list {
  padding: 10px;
  color: #40C4FF;
  text-align: center;
}
.toggle-menu__list:hover {
  color: white;
  background: #40C4FF;
  border-radius: 7px;
}

.footer {
  height: 150px;
  background-color: #40C4FF;
}