body {
  margin: 0;
}
* {
  font-family: sans-serif;
}

.header {
  display: flex;
  height: 38px;
}
.header__title {
  color: #2196f3;
  line-height: 38px;
  padding: 0 10px;
  background: white;
  border-bottom: 1px solid black;
  font-weight: 900;
  font-size: 20px;
}
.header__subtitle {
  background-color: #2196f3;
  text-align: center;
  width: 100%;
  color: white;
  line-height: 38px;
}

.menu {
  display: flex;
  height: 30px;
  border-bottom: 1px solid black;
}
.menu__item {
  line-height: 30px;
  padding: 0 18px;
  cursor: pointer;
  user-select: none;
}
.menu__item:hover {
  background-color: #e0e0e0;
}
.menu__item:active {
  background-color: #BDBDBD;
}

.content {
  width: 1200px;
  height: 575px;
  margin: 20px auto;
  background-color: transparent;
  display: flex;
}

.pages {
  width: 180px;
  height: 100%;
  border: 2px solid #bdbdbd;
  border-radius: 14px;
}
.pages__title {
  text-align: center;
}

.workspace {
  width: 1010px;
  margin-left: 10px;
  height: 100%;
  background-color: #eeeeee;
      border-radius: 10px;
      position: relative;
}

.workspace-title {
  text-align: center;
  position: relative;
  top: 300px;
}

.workspace-title__primary {
  font-weight: 500;
  font-size: 24px;
  color: #bdbdbd;
}

.workspace-title__secondary {
  color: #bdbdbd;
  font-weight: 500;
}


.workspace-pages {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
}
.workspace-pages__tab {
  display: flex;
}